extends layout

block content
    h3 Top Products
    div(class="products")
    - each topproducts in topproductlist
        div(class="singleproduct")
            div(class="thumbnail")
                img(src="#{topproducts.IMAGE_URL}", alt="...", class="img-responsive")
                div(class="caption")
                    h3 #{topproducts.TITLE}
                    p(align="justify",class="description") #{topproducts.FEATURE_BULLETS}
                    div(class="clearfix")
                        div(class="price") #{topproducts.SALE_PRICE}
                        a(href="#",class="btn btn-success pull-right",role="button") Add to cart
    #footer
        div Copyright© Ecomm #{+new Date().getFullYear()}  
        a(href='/#') About 
        | |  
        a(href='/#') Contact Us
    footer